body {
    height: 100%;
    display: flex;
    justify-content: center;
}

canvas {
    background-image: url('img/Estadio-fondo.avif');
    background-size: cover; 
    background-position: center center;
}