.card {
    margin-top: 50px;
    margin: 5px; /* Margen horizontal de 5px para tener 10px de separación total */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../assets/img/card-img/Portada\ cuatro\ en\ linea.png');
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    width: 270px;
    height: 170px;
}

.fav {
    margin-top: 2px;
    margin-left: 2px;
}

.card-bottom {
    width: 270px;
    height: 44px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(  --card-botton-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom p {
    margin-left: 8px;
}

.play-button {
    height: 40px;
    width: 40px;
    background-image: url('../assets/img/control-de-juego.png');
    background-color: #fff;
    border-radius: 50px;
    border: 3px solid #fff;
    background-size: cover;
    background-position: center center;
    margin-right: 15px;
    margin-bottom: 30px;
    transition: 0.5s ease, width 1s linear, transform 0.8s;
    cursor: pointer;
}

.play-button:hover {
    scale: 1.1;
    transform: rotate(360deg);
}


.pay-card {
    width: 270px;
    height: 170px;
    margin-top: 50px;
    background-image: url('../assets/img/card-img/gtasa.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    position: relative; 
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.card-pay-top {
    width: 270px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.card-pay-top span {
    margin-top: 2px;
    margin-left: 2px;
}

.label {
    height: 55px;
    width: 55px;
    display: flex;
    background-image: url('../assets/img/etiqueta.png');
    background-size: cover;
    background-position: center center;
}

.label p {
    rotate: 45deg;
    margin-left: 3px;
    margin-top: 13px;
    color: #000;
    font-weight: 600;
}

.pay-card:hover {
    background-color: rgba(37, 0, 67, 0.80); 
    background-blend-mode: multiply;
}

.add-to-cart-button {
    display: none; 
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 10px;
    margin-left: 60px;
    transform: translateY(-120%);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 18px;
    padding: 1%;
}

/* Mostrar el botón al hacer hover en la tarjeta */
.pay-card:hover .add-to-cart-button {
    display: block;
    opacity: 1;
}

/* Opcional: Estilo al hacer hover sobre el botón */
.add-to-cart-button:hover {
background-color: var(--primary-green-hover);
}

.remove-to-cart-button {
    background-color: var(--grey);
}

.remove-to-cart-button:hover {
    background-color: var(--background-grey);
}


