.carrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.big-carrusel {
    width: 930px;
    height: 394px;
    background-color: var(--secondary-violet);
}