*{
    margin: 0;
    padding: 0;
}

::placeholder {
    font-family: "Poetsen One", sans-serif;
    color: #ffffff96;
    font-size: 18px;
}

/*Sacar las flechas del input type=number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    font-family: "Poetsen One", sans-serif;
    color: #fff;
}

button {
    background-color: var(--primary-green);
    color: #fff;
    font-family: "Poetsen One", sans-serif;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
}

input {
    background-color: var(--secondary-violet);
    color: #fff;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    border-color: var(--secondary-violet);
    border-style: none;
    font-size: 20px;
    padding-left: 10px;
    outline: none; 
}

a {
    text-decoration: none;
}

.disabled {
    display: none;
}

.activated {
    display:block;
}
