
.ion--game-controller {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2386b700' d='M483.13 245.38C461.92 149.49 430 98.31 382.65 84.33A107.1 107.1 0 0 0 352 80c-13.71 0-25.65 3.34-38.28 6.88C298.5 91.15 281.21 96 256 96s-42.51-4.84-57.76-9.11C185.6 83.34 173.67 80 160 80a115.7 115.7 0 0 0-31.73 4.32c-47.1 13.92-79 65.08-100.52 161C4.61 348.54 16 413.71 59.69 428.83a56.6 56.6 0 0 0 18.64 3.22c29.93 0 53.93-24.93 70.33-45.34c18.53-23.1 40.22-34.82 107.34-34.82c59.95 0 84.76 8.13 106.19 34.82c13.47 16.78 26.2 28.52 38.9 35.91c16.89 9.82 33.77 12 50.16 6.37c25.82-8.81 40.62-32.1 44-69.24c2.57-28.48-1.39-65.89-12.12-114.37M208 240h-32v32a16 16 0 0 1-32 0v-32h-32a16 16 0 0 1 0-32h32v-32a16 16 0 0 1 32 0v32h32a16 16 0 0 1 0 32m84 4a20 20 0 1 1 20-20a20 20 0 0 1-20 20m44 44a20 20 0 1 1 20-19.95A20 20 0 0 1 336 288m0-88a20 20 0 1 1 20-20a20 20 0 0 1-20 20m44 44a20 20 0 1 1 20-20a20 20 0 0 1-20 20'/%3E%3C/svg%3E");
}


.fa-solid--home {
display: inline-block;
width: 1.9em;
height: 2em;
--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0M571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93'/%3E%3C/svg%3E");
background-color: currentColor;
-webkit-mask-image: var(--svg);
mask-image: var(--svg);
-webkit-mask-repeat: no-repeat;
mask-repeat: no-repeat;
-webkit-mask-size: 100% 100%;
mask-size: 100% 100%;
}

.noto-v1--glowing-star {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23fcc21b' d='m43.48 97.83l5.81-23.67L30.8 58.8l24.11-1.93L64 34.68l9.09 22.19L97.2 58.8L78.71 74.16l5.81 23.67L64 84.85z'/%3E%3Cg fill='%23f79329'%3E%3Cpath d='M10.66 28.38c2.85 1.66 5.66 3.39 8.55 5c3.96 2.22 7.96 4.54 12.15 6.27c1.47.61 2.65-.45 3.24-1.7c.64-1.37-.11-2.3-.74-3.51c-1.64-3.13-3.21-6.3-5.09-9.29c-1.9-3.04-3.36-6.38-5.6-9.2l-.2-.24c-1.11-1.4-2.49-3.31-4.47-3.15c-1.92.16-3.11 1.77-4.48 2.95c-2.31 1.98-4.13 4.56-5.65 7.17c-.64 1.11-1.36 2.6-.48 3.82c.64.86 1.87 1.36 2.77 1.88m13.35 60.23c-3.2.74-6.43 1.41-9.58 2.41c-3.17 1-6.53 1.53-9.61 2.89l-.25.12C3.04 94.7.99 95.5.68 97.32c-.31 1.78.87 3.22 1.61 4.73c1.24 2.55 3.14 4.8 5.14 6.78c.86.85 2.03 1.84 3.33 1.32c.94-.36 1.68-1.37 2.34-2.05c2.17-2.18 4.4-4.32 6.52-6.54c2.94-3.05 5.96-6.11 8.51-9.48c.89-1.19.22-2.5-.78-3.32c-1.08-.89-2.1-.43-3.34-.15m72.63-48.96c4.19-1.74 8.18-4.06 12.15-6.27c2.88-1.61 5.7-3.34 8.56-5c.89-.52 2.13-1.02 2.76-1.89c.89-1.22.17-2.7-.48-3.82c-1.51-2.61-3.34-5.19-5.65-7.17c-1.37-1.18-2.55-2.79-4.48-2.95c-1.97-.16-3.36 1.75-4.47 3.15l-.2.24c-2.25 2.83-3.7 6.16-5.61 9.2c-1.87 3-3.45 6.16-5.09 9.29c-.63 1.22-1.38 2.15-.74 3.51c.59 1.26 1.78 2.32 3.25 1.71m26.8 54.39l-.26-.12c-3.07-1.37-6.43-1.89-9.61-2.89c-3.15-1-6.37-1.67-9.58-2.41c-1.25-.28-2.27-.74-3.35.16c-.99.82-1.67 2.13-.78 3.32c2.55 3.37 5.59 6.43 8.51 9.48c2.13 2.22 4.35 4.36 6.52 6.54c.67.69 1.41 1.69 2.35 2.05c1.3.52 2.47-.48 3.33-1.32c2-1.98 3.91-4.23 5.15-6.78c.74-1.52 1.91-2.96 1.61-4.73c-.32-1.83-2.36-2.63-3.89-3.3'/%3E%3Cpath d='m89.46 77.7l26.84-22.29c.86-.71 1.2-1.87.86-2.93a2.76 2.76 0 0 0-2.39-1.91l-35.03-2.79l-13.2-32.23a2.75 2.75 0 0 0-2.54-1.7c-1.11 0-2.12.67-2.54 1.7l-13.2 32.23l-35.03 2.79c-1.12.09-2.05.84-2.39 1.91s0 2.22.86 2.93L38.55 77.7l-8.44 34.37c-.26 1.08.16 2.22 1.06 2.88c.91.65 2.13.69 3.07.09L64 96.2l29.76 18.83c.94.59 2.16.56 3.07-.09c.9-.65 1.33-1.79 1.06-2.88zM43.48 97.83l5.82-23.67L30.8 58.8l24.11-1.93L64 34.68l9.09 22.19L97.2 58.8L78.71 74.16l5.81 23.67L64 84.85z'/%3E%3C/g%3E%3C/svg%3E");
}

.ri--group-line {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M2 22a8 8 0 1 1 16 0h-2a6 6 0 0 0-12 0zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m8.284 3.703A8 8 0 0 1 23 22h-2a6 6 0 0 0-3.537-5.473zm-.688-11.29A5.5 5.5 0 0 1 21 8.5a5.5 5.5 0 0 1-5 5.478v-2.013a3.5 3.5 0 0 0 1.041-6.609z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.emojione--crossed-swords {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%2396a7a8' d='M48 24c7.5-6.2 9.7-12.9 10.3-17C60.6 5.4 62 4 62 4s1.3 10.9-10.5 20.7C36.2 37.5 21 45.5 21 45.5l-1.3-1.9C24.4 40.9 36.2 33.8 48 24'/%3E%3Cpath fill='%23b8c2c4' d='m19.6 43.6l-1.2-1.8C42.8 21.4 43.3 12 43.3 12c6.3.1 11.6-2.7 15-5.1c-.6 4-2.8 10.7-10.3 17c-11.8 9.9-23.6 17-28.4 19.7'/%3E%3Cpath fill='%23c19a61' d='M12.4 45.9c-.9.8-.8 2.3.3 3.3s2.7 1.1 3.6.3s.8-2.3-.3-3.3c-1-1-2.7-1.1-3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M12.9 46c-.8.7-.7 2 .3 2.8c.9.9 2.3 1 3.1.2c.8-.7.7-2-.3-2.8c-.9-.8-2.3-1-3.1-.2'/%3E%3Cpath fill='%23c19a61' d='M10.2 47.8c-.9.8-.8 2.3.3 3.3s2.7 1.1 3.6.3s.8-2.3-.3-3.3s-2.7-1.1-3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M10.7 47.8c-.8.7-.7 2 .3 2.8c.9.9 2.3 1 3.1.2c.8-.7.7-2-.3-2.8c-.9-.8-2.3-.9-3.1-.2'/%3E%3Cpath fill='%23c19a61' d='M8 49.7c-1 .8-.8 2.3.3 3.3s2.7 1.1 3.6.3s.8-2.3-.3-3.3s-2.7-1.2-3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M8.4 49.7c-.8.7-.7 2 .3 2.8c.9.9 2.3 1 3.1.2c.8-.7.7-2-.3-2.8c-.9-.8-2.3-.9-3.1-.2'/%3E%3Cpath fill='%23c19a61' d='M5.7 51.5c-.9.9-.7 2.3.3 3.3c1.1 1 2.7 1.1 3.6.3s.8-2.3-.3-3.3c-1-1-2.6-1.1-3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M6.2 51.6c-.8.7-.7 2 .3 2.8c.9.9 2.3 1 3.1.2c.8-.7.7-2-.3-2.8c-.9-.9-2.3-1-3.1-.2'/%3E%3Cpath fill='%2389664c' d='M3 53.8c3.1-2.7 1.7-.8 3.7 1.2c5.8 6 15.6-2.9 9-8.1c-3.8-3-1.1-6.9.8-8.6c1.2-1 .3.8 3.8 4.9c3.5 4.2 1.9 10.8-2.7 14.7c-4.8 4-10.6 1.5-12.8-1.2c-1.6-1.8-4.3-.9-1.8-2.9'/%3E%3Cpath fill='%23dbb471' d='M11 58.1c1.6 0 3.8-.5 5.6-2.2c2.1-2.1 2.9-4.7 2.3-7.3c1.4 2.9 1 6-1.3 8.2c-1.6 1.6-3.7 1.9-5.2 1.8c-1.3 0-2.6-.3-3.8-.8q1.2.45 2.4.3'/%3E%3Cpath fill='%23b0bfc1' d='M16 24C8.5 17.7 6.3 11 5.7 7C3.4 5.4 2 4 2 4S.8 14.9 12.5 24.7C27.8 37.5 43 45.5 43 45.5l1.3-1.9C39.6 40.9 27.8 33.8 16 24'/%3E%3Cpath fill='%23c9d1d3' d='m44.4 43.6l1.2-1.8C21.2 21.4 20.7 12 20.7 12c-6.3.1-11.6-2.7-15-5c.6 4 2.8 10.7 10.3 17c11.8 9.8 23.6 16.9 28.4 19.6'/%3E%3Cpath fill='%23c19a61' d='M51.6 45.9c.9.8.8 2.3-.3 3.3s-2.7 1.1-3.6.3s-.8-2.3.3-3.3c1-1 2.7-1.1 3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M51.1 46c.8.7.7 2-.3 2.8c-.9.9-2.3 1-3.1.2c-.8-.7-.7-2 .3-2.8c.9-.8 2.3-1 3.1-.2'/%3E%3Cpath fill='%23c19a61' d='M53.8 47.8c.9.8.8 2.3-.3 3.3s-2.7 1.1-3.6.3s-.8-2.3.3-3.3s2.7-1.1 3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M53.3 47.8c.8.7.7 2-.3 2.8c-.9.9-2.3 1-3.1.2c-.8-.7-.7-2 .3-2.8c.9-.8 2.3-.9 3.1-.2'/%3E%3Cpath fill='%23c19a61' d='M56 49.7c.9.8.8 2.3-.3 3.3s-2.7 1.1-3.6.3s-.8-2.3.3-3.3s2.7-1.2 3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M55.6 49.7c.8.7.7 2-.3 2.8c-.9.9-2.3 1-3.1.2c-.8-.7-.7-2 .3-2.8c.9-.8 2.3-.9 3.1-.2'/%3E%3Cpath fill='%23c19a61' d='M58.3 51.5c.9.8.8 2.3-.3 3.3s-2.7 1.1-3.6.3s-.8-2.3.3-3.3c1-1 2.6-1.1 3.6-.3'/%3E%3Cpath fill='%23dbb471' d='M57.8 51.6c.8.7.7 2-.3 2.8c-.9.9-2.3 1-3.1.2c-.8-.7-.7-2 .3-2.8c.9-.9 2.3-1 3.1-.2'/%3E%3Cpath fill='%2389664c' d='M61 53.8c-3.2-2.6-1.7-.8-3.7 1.2c-5.8 6-15.6-2.9-9-8.1c3.8-3 1.1-6.9-.8-8.6c-1.2-1-.3.8-3.8 4.9c-3.5 4.2-1.9 10.8 2.7 14.7c4.8 4 10.6 1.5 12.8-1.2c1.6-1.8 4.3-.9 1.8-2.9'/%3E%3Cpath fill='%23dbb471' d='M53 58.1c-1.6 0-3.8-.5-5.6-2.2c-2.1-2.1-2.9-4.7-2.3-7.3c-1.4 2.9-1 6 1.3 8.2c1.6 1.6 3.7 1.9 5.2 1.8c1.3 0 2.6-.3 3.8-.8q-1.2.45-2.4.3'/%3E%3C/svg%3E");
}

.noto--compass {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23e2a610' d='M120.27 7.69C117.89 5.31 114.72 4 111.36 4s-6.53 1.31-8.91 3.69c-4.91 4.92-4.91 12.92 0 17.84c2.38 2.38 5.55 3.69 8.91 3.69c3.37 0 6.53-1.31 8.92-3.69c4.91-4.92 4.91-12.92-.01-17.84m-13.89 3.94c1.33-1.33 3.1-2.06 4.97-2.06s3.65.73 4.98 2.06c2.75 2.75 2.75 7.22 0 9.96a7 7 0 0 1-4.98 2.06c-1.88 0-3.65-.73-4.97-2.06c-2.74-2.74-2.74-7.21 0-9.96'/%3E%3Cpath fill='%23ffca28' d='m105.51 30.95l-8.47-8.48l6.04-6.05a3.44 3.44 0 0 1 4.86 0l3.62 3.62a3.43 3.43 0 0 1 0 4.85z'/%3E%3Cpath fill='%23e2a610' d='M107.69 28.76s1.33-2.67-2.24-6.24s-6.27-2.2-6.27-2.2l-2.14 2.15l8.47 8.48z'/%3E%3Cellipse cx='62.37' cy='65.63' fill='%23ffca28' rx='58.33' ry='58.37'/%3E%3Cellipse cx='62.37' cy='65.63' fill='%23fff' rx='47.29' ry='47.32'/%3E%3Cpath fill='%23e0c3ab' d='m68.78 72.05l-6.41 27.71l-6.41-27.71l-27.7-6.42l27.7-6.41l6.41-27.72l6.41 27.72l27.7 6.41z'/%3E%3Cpath fill='%23b2947c' d='m71.43 65.63l15.06 24.14L62.37 74.7L38.25 89.77l15.06-24.14L38.25 41.5l24.12 15.06L86.49 41.5z'/%3E%3Cpath fill='%23212121' d='M50.45 86.94s12.82-9.09 17.68-13.95C73 68.14 83.26 53.87 83.26 53.87c2.75-3.05 5.84-10.76 6.7-13c.09-.24-.14-.48-.38-.39c-1.96.75-8.17 3.2-12.5 5.96c-5.41 3.46-15.09 11.37-19.6 15.88s-10.37 13.2-13.7 17.93c-2.78 3.96-6.26 11.32-7.31 13.61c-.12.25.14.51.39.4c2.36-.99 10.01-4.36 13.59-7.32' opacity='0.32'/%3E%3Cpath fill='%23f44336' d='M82.66 52.46c2.86-3.65 5.57-10.84 6.37-13.07c.1-.27-.16-.53-.44-.44c-2.23.8-9.41 3.52-13.06 6.38c-4.35 3.41-18.82 15.3-18.82 15.3l10.65 10.66c.01 0 11.89-14.48 15.3-18.83'/%3E%3Cpath fill='%232f7889' d='M41.41 79.48c-2.86 3.65-5.57 10.84-6.37 13.07c-.1.27.16.53.44.44c2.23-.8 9.41-3.52 13.06-6.38c4.35-3.41 18.82-15.3 18.82-15.3L56.7 60.65S44.82 75.12 41.41 79.48'/%3E%3Cellipse cx='62.03' cy='65.98' fill='%2394d1e0' rx='7.56' ry='7.57'/%3E%3Cpath fill='%23f44336' d='M90.46 37.52a3.44 3.44 0 0 1 0-4.86l3.56-3.56l4.86 4.86l-3.55 3.56a3.434 3.434 0 0 1-4.87 0'/%3E%3Cpath fill='%23b2947c' d='M34.28 93.74a3.44 3.44 0 0 1 0 4.86l-3.56 3.56l-4.86-4.86l3.55-3.56a3.45 3.45 0 0 1 4.87 0'/%3E%3Cpath fill='%23e0c3ab' d='M102.1 65.63c0-1.9 1.54-3.44 3.44-3.44h5.02v6.88h-5.02a3.44 3.44 0 0 1-3.44-3.44m-79.45 0c0 1.9-1.54 3.44-3.44 3.44h-5.02v-6.88h5.02c1.9 0 3.44 1.54 3.44 3.44'/%3E%3Cpath fill='%23b2947c' d='M90.46 93.74a3.44 3.44 0 0 1 4.86 0l3.55 3.56l-4.86 4.86l-3.56-3.56a3.45 3.45 0 0 1 .01-4.86M34.28 37.52a3.44 3.44 0 0 1-4.86 0l-3.55-3.56l4.86-4.86l3.56 3.56a3.45 3.45 0 0 1-.01 4.86'/%3E%3Cpath fill='%23e0c3ab' d='M62.37 105.38c1.9 0 3.44 1.54 3.44 3.44v5.03h-6.87v-5.03a3.425 3.425 0 0 1 3.43-3.44m0-79.5a3.44 3.44 0 0 1-3.44-3.44v-5.03h6.87v5.03c.01 1.9-1.53 3.44-3.43 3.44'/%3E%3Cellipse cx='62.37' cy='65.63' fill='none' stroke='%23e2a610' stroke-miterlimit='10' stroke-width='3' rx='47.29' ry='47.32'/%3E%3Cpath fill='%23fff59d' d='M8.72 64.92S6.6 54.18 12.25 40.88C20.59 21.26 38.6 10.46 57.97 9.62c14.53-.63 22.91 4.16 22.91 4.16s-11.82-.97-19.97-.61c-19.66.87-33.32 9.84-42.68 25.18c-7.7 12.64-9.51 26.57-9.51 26.57'/%3E%3C/svg%3E");
}

.emojione--soccer-ball {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Ccircle cx='32' cy='32' r='29.3' fill='%23fff'/%3E%3Cpath fill='%234a4e51' d='M61.9 32c0-.7.2-10.9-5.8-17.5c-.3-.6-1.5-3-5.6-5.9C47.8 6.5 45 5 44.7 4.8S39.4 2 33.4 2c-.5 0-.9 0-1.4.1c-4.6-.1-8.8 1.1-11.9 2.5c-3.2 1.4-5.3 2.8-5.5 3c-3.4 1.9-9.9 9.5-10.4 13.6c-2.1 2.6-3.8 14.5 0 21.7c2.7 10 12.7 15 13.5 15.4c.5.3 5.9 3.7 12.6 3.7h.9c.6.1 1.1.1 1.7.1c7.2 0 18-5.1 20.2-9.1c6.2-4.6 9.4-16.2 8.8-21M17.8 47.1c-2.9-4.6-4.5-10.7-4.9-12.1c.9-1.4 5.4-8 7.9-10c1.4.3 7.5 1.4 13.2 2.4c.7 1.9 3.9 10 4.8 13.2c-1 1.2-4.9 5.7-8.7 9.2c-4.1.1-11-2.3-12.3-2.7m36-32.5c0 .4-.1 2-.9 3.9c-1.5-.8-5.3-2.4-10.6-2.7c-.8-1.2-3.8-5.3-8.5-8.1c.6-1.3 1.5-2.8 2.1-3.3c.2 0 .4-.1.8-.1c2.5 0 6.9 1.7 7.3 1.8c.4.2 8.3 4.4 9.8 8.5M11.8 34c-3.4-.6-5.5-1.6-6.1-2c-1.3-4.6-.2-9.6-.1-10.3c1.3-2.2 4.8-8 7.2-9.1c2.4-.5 5.5.1 6.7.4c-.1 1.6-.3 6.1.3 10.9c-2.6 2.2-6.9 8.5-8 10.1M31.7 3.5c.8.1 1.9.2 2.7.5c-.8 1-1.6 2.5-1.9 3.3c-1.6.3-7.5 1.4-12.2 4.4c-.9-.2-3.8-.9-6.5-.7c.7-1.3 1.7-2.2 1.8-2.3c.3-.3 7.4-5.3 16.1-5.2m19.1 38.1c-1.2 0-5.7-.3-10.6-1.5c-.9-3.3-4.1-11.4-4.8-13.3c3.1-4.4 6.1-8.5 6.9-9.7c5.7.4 9.7 2.5 10.5 2.9c3.3 5.3 4 10.7 4.1 11.6c-1.8 5.5-5.2 9.2-6.1 10M3.7 28.5c.1 1.3.3 2.6.7 3.9c-.3.9-.6 1.8-.7 2.7c-.3-2.3-.3-4.6 0-6.6M18.5 57l-.4.6zc-2.5-1.2-4.4-4-5.2-5.1c1.5-1.5 3.4-2.9 4.1-3.4c1.6.6 8.3 2.8 12.6 2.8c.7 1 3.1 4 6 6.4c-1.8 1.8-4.4 2.6-4.9 2.8c-6.8.2-12.6-3.5-12.6-3.5m16.3 3.4c.9-.5 1.9-1.2 2.7-2.1c1.3-.2 6.9-1.1 11.9-4.8c.3 0 .9.1 1.5.1c-3.1 2.9-10.5 6.2-16.1 6.8M50.2 52c1.8-4.7 1.7-8.3 1.6-9.4c1-1 4.4-4.6 6.3-10.1c1 .2 1.7.4 2 .6c.1.4.3 1.3.2 2.7c-.8 5-3.4 12.6-8.1 15.9c-.5.3-1.3.4-2 .3'/%3E%3C/svg%3E");
}

.noto--chess-pawn {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23474c50' d='M79.05 13.39L49.63 32.88s1 1.42 1.68 2.07c1.42 1.36 2.34 1.81 2.34 1.81l-.58 2l-7.33 4.25s-.26 3.36 3.48 5.3c3.1 1.61 6.19 1.62 6.19 1.62v4.83s3.08 6 9.34 6S74 53.93 74 53.93l.08-4.17s2.82-.28 5.51-1.85c2.04-1.2 2.76-3.16 2.78-4.83c.02-1.42-.11-1.7-.11-1.7l-8.52-4.45s3.79-2.3 5.83-7.5c3.84-9.75-.52-16.04-.52-16.04M63.32 76.52l-21.21 5.05s-.56.78-.55 1.62c.02 1.41.62 1.74.62 1.74L33.71 95.2s-.99 2.03-.94 4.6c.05 2.46 1.07 3.97 1.21 3.9l-2.75 3.67l-1.75.75s-.95 1.54-.83 3.42c.15 2.32 1.65 4.79 7.5 7.5c6.05 2.81 12.59 5.33 27.76 5.33s26.67-3 31.42-6.33s5.13-6.23 5.21-7.48a5.2 5.2 0 0 0-.55-2.69c-.04-.07-.13-.21-.13-.21l-3.75-4.05s.9-2.23.79-4.6c-.14-2.99-1.65-5.15-1.65-5.15l-8.84-7.67l.08-2s.15-.64-.14-1.71c-.25-.92-.45-1.43-.66-1.75c-.62-.95-1.38-.85-1.38-.85z'/%3E%3Cpath fill='%235e6367' d='M49.6 32.88s-4.69-5.79-2.69-14.96S57.15 2.84 66.49 4.17s13.09 10.17 13.09 10.17s-.27 11.02-10.36 16.36s-19.62 2.18-19.62 2.18'/%3E%3Cpath fill='%23fffffe' d='M62.66 7.09c2.21 1.26 1.01 2.67-2.33 4.83c-3.1 2.01-6.83 7.92-7.84 9.42s-1.67 1.67-2.17 1.33s-2.08-1.17-.67-5.92s5.17-7.75 7-8.84c1.84-1.07 4.26-1.82 6.01-.82'/%3E%3Cpath fill='%235e6367' d='M53.65 36.76s4.71 3.14 9.79 3.2c7.17.07 10.3-3.03 10.3-3.03s3.39-.35 5.81.91c2.12 1.1 2.71 3.56 2.71 3.56s-2.24 5.83-18.56 5.39c-16.33-.44-17.96-3.77-17.96-3.77s-.43-3.43 2.48-5.11c2.44-1.42 5.43-1.15 5.43-1.15'/%3E%3Cpath fill='%23aeaeaf' d='M50.63 38.49c-1.56-.15-3.95.81-3.66 2.93s5.13 3.08 7.47 3.22s6.08.44 6-1.76c-.07-2.2-5.71-1.1-7.91-2.27s.37-1.9-1.9-2.12'/%3E%3Cpath fill='%235e6367' d='M55.4 54.77s2.99 1.3 9.21 1.3s9.38-2.13 9.38-2.13s-.01 7.04 2.92 14.14s5.05 10.54 5.05 10.54s1.91-.13 2.64.46s1.44 2.38 1.44 2.38c-.24.33-5.45 5.16-21.1 4.82c-16.69-.36-22.83-4.72-22.83-4.72s.98-1.63 2.1-2c1.35-.45 2.22-.33 2.22-.33s5.01-6.03 7.06-11.96c2.04-5.93 1.91-12.5 1.91-12.5'/%3E%3Cpath fill='%23b0b0af' d='M64.25 81.69c6.15 0 11.5-1.24 13.77-1.9s3.99-1.77 5.75-1.18c.99.33 1.37 1.08 1.37 1.08s-6.54 5.5-20.96 4.94c-15.37-.59-21.25-4.11-21.25-4.11s1-1.43 3.25-1.29c.6.04 1.16.21 4.6 1.01s7.46 1.45 13.47 1.45'/%3E%3Cpath fill='%235e6367' d='M42.18 84.92s10.13 4.01 22.07 4.17c15.97.21 22.25-4.9 22.25-4.9s3.75 3.44 5.28 5.05s3.47 4.62 3.47 4.62s-6.69 11.05-31.14 10.83c-24.46-.22-30.4-9.49-30.4-9.49s1.29-3.38 3.96-6.18c1.64-1.73 4.51-4.1 4.51-4.1'/%3E%3Cpath fill='%23b0b0af' d='M41.99 89.45c-1.82-.49-5.42 3.15-4.98 5.42c.22 1.16.87 2.45 4.39 3.73c3.22 1.17 8.2 1.11 8.2-.81c0-2.49-4.32-2.26-5.42-4.47c-.87-1.74-.29-3.35-2.19-3.87'/%3E%3Cpath fill='%235e6367' d='M33.98 103.69s-1.44.98-2.56 2.08c-1.41 1.39-1.94 2.34-1.94 2.34s3.23 11.62 34.27 11.87c30.39.25 36.11-12.33 36.11-12.33s-.99-1.43-2.03-2.47s-1.73-1.57-1.73-1.57s-8.81 9.95-32.56 9.69c-22.64-.23-29.56-9.61-29.56-9.61'/%3E%3Cpath fill='%23b0b0af' d='M32.42 106.89c-.83.93-.8 2.86 1.65 4.47c2.62 1.72 6.84 4.17 12.89 5.3c6.16 1.15 12.58.8 12.18-1.26c-.27-1.41-5.61.17-15.08-3.58c-5.56-2.2-7.28-3.41-8.41-4.21c-.73-.53-2.03-2.06-3.23-.72m7.17-10.61c1.93 0 1.93-3 0-3s-1.93 3 0 3'/%3E%3C/svg%3E");
}

.heroicons--user-16-solid {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 8a3 3 0 1 0 0-6a3 3 0 0 0 0 6m4.735 6c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--cart {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ion--game-controller-outline {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='32' d='M467.51 248.83c-18.4-83.18-45.69-136.24-89.43-149.17A91.5 91.5 0 0 0 352 96c-26.89 0-48.11 16-96 16s-69.15-16-96-16a99 99 0 0 0-27.2 3.66C89 112.59 61.94 165.7 43.33 248.83c-19 84.91-15.56 152 21.58 164.88c26 9 49.25-9.61 71.27-37c25-31.2 55.79-40.8 119.82-40.8s93.62 9.6 118.66 40.8c22 27.41 46.11 45.79 71.42 37.16c41.02-14.01 40.44-79.13 21.43-165.04Z'/%3E%3Ccircle cx='292' cy='224' r='20' fill='%23000'/%3E%3Cpath fill='%23000' d='M336 288a20 20 0 1 1 20-19.95A20 20 0 0 1 336 288'/%3E%3Ccircle cx='336' cy='180' r='20' fill='%23000'/%3E%3Ccircle cx='380' cy='224' r='20' fill='%23000'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M160 176v96m48-48h-96'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.carbon--settings {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M27 16.76v-1.53l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1a2 2 0 0 0-.64.1l-2.43.82a11 11 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.5 11.5 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1a2 2 0 0 0 .64-.1l2.43-.82a11 11 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.5 11.5 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1a2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51ZM25.21 24l-3.43-1.16a8.9 8.9 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.4 9.4 0 0 1-2.7-1.57L6.79 24l-2.36-4l2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4l3.43 1.16a8.9 8.9 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.4 9.4 0 0 1 2.7 1.57L25.21 8l2.36 4l-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20Z'/%3E%3Cpath fill='%23000' d='M16 22a6 6 0 1 1 6-6a5.94 5.94 0 0 1-6 6m0-10a3.91 3.91 0 0 0-4 4a3.91 3.91 0 0 0 4 4a3.91 3.91 0 0 0 4-4a3.91 3.91 0 0 0-4-4'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.game-icons--exit-door {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M217 28.098v455.804l142-42.597V70.697zm159.938 26.88l.062 2.327V87h16V55zM119 55v117.27h18V73h62V55zm258 50v16h16v-16zm0 34v236h16V139zm-240 58.727V233H41v46h96v35.273L195.273 256zM244 232c6.627 0 12 10.745 12 24s-5.373 24-12 24s-12-10.745-12-24s5.373-24 12-24M137 339.73h-18V448h18zM377 393v14h16v-14zm0 32v23h16v-23zM32 471v18h167v-18zm290.652 0l-60 18H480v-18z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic--baseline-facebook {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    transition: 1s;
}

.ic--baseline-facebook:hover {
    scale: 1.1;
    animation: hover-facebook 0.5s ease-in-out forwards;
}

.mdi--instagram {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    transition: 1s;
}

.mdi--instagram:hover {
    scale: 1.1;
    animation: hover-instagram 0.5s ease-in-out forwards;
}

.hugeicons--new-twitter {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m3 21l7.548-7.548M21 3l-7.548 7.548m0 0L8 3H3l7.548 10.452m2.904-2.904L21 21h-5l-5.452-7.548' color='%23000'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: 1s;
    cursor: pointer;
}

.hugeicons--new-twitter:hover {
    scale: 1.1;
    animation: hover-twitter 0.5s ease-in-out forwards;
}

.mdi--youtube {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    transition: 1s;
}

.mdi--youtube:hover {
    scale: 1.1;
    animation: hover-youtube 0.5s ease-in-out forwards;
}

.material-symbols--mail-outline {
    display: inline-block;
    width: 4em;
    height: 4em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic--baseline-phone {
    display: inline-block;
    width: 4em;
    height: 4em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

@keyframes hover-facebook {
    0%   {background-color:rgb(255, 255, 255); left:0px; top:0px;}
    100% {background-color:rgb(29, 83, 200); left:0px; top:0px;}
}

@keyframes hover-instagram {
    0%   { background-color: rgb(255, 255, 255); }
    100%  { background: linear-gradient(90deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 50%, rgba(98,40,215,1) 100%); }
}
@keyframes hover-twitter {
    0%   {background-color:rgb(255, 255, 255); left:0px; top:0px;}
    100% {background-color:rgb(0, 172, 238); left:0px; top:0px;}
}

@keyframes hover-youtube {
    0%   {background-color:rgb(255, 255, 255); left:0px; top:0px;}
    100% {background-color:rgb(196, 48, 43); left:0px; top:0px;}
}

.mdi--star-outline {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 15.39l-3.76 2.27l.99-4.28l-3.32-2.88l4.38-.37L12 6.09l1.71 4.04l4.38.37l-3.32 2.88l.99 4.28M22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.45 4.73L5.82 21L12 17.27L18.18 21l-1.64-7.03z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}

.mdi--star {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
    background-color: var(--yellow);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}

.material-symbols--share {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M17 22q-1.25 0-2.125-.875T14 19q0-.15.075-.7L7.05 14.2q-.4.375-.925.588T5 15q-1.25 0-2.125-.875T2 12t.875-2.125T5 9q.6 0 1.125.213t.925.587l7.025-4.1q-.05-.175-.062-.337T14 5q0-1.25.875-2.125T17 2t2.125.875T20 5t-.875 2.125T17 8q-.6 0-1.125-.213T14.95 7.2l-7.025 4.1q.05.175.063.338T8 12t-.012.363t-.063.337l7.025 4.1q.4-.375.925-.587T17 16q1.25 0 2.125.875T20 19t-.875 2.125T17 22'/%3E%3C/svg%3E");
}

.ic--outline-mouse {
    display: inline-block;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M20 9c-.04-4.39-3.6-7.93-8-7.93S4.04 4.61 4 9v6c0 4.42 3.58 8 8 8s8-3.58 8-8zm-2 0h-5V3.16c2.81.47 4.96 2.9 5 5.84m-7-5.84V9H6a6.005 6.005 0 0 1 5-5.84M18 15c0 3.31-2.69 6-6 6s-6-2.69-6-6v-4h12z'/%3E%3C/svg%3E");
}

.ph--mouse-left-click-fill {
    display: inline-block;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M144 16h-32a64.07 64.07 0 0 0-64 64v96a64.07 64.07 0 0 0 64 64h32a64.07 64.07 0 0 0 64-64V80a64.07 64.07 0 0 0-64-64m48 64v24h-64V32h16a48.05 48.05 0 0 1 48 48m-48 144h-32a48.05 48.05 0 0 1-48-48v-56h128v56a48.05 48.05 0 0 1-48 48'/%3E%3C/svg%3E");
}

.gg--arrow-left-r {
    display: inline-block;
    width: 4.5em;
    height: 4.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23fff'%3E%3Cpath d='m11.948 14.829l-1.414 1.414L6.29 12l4.243-4.243l1.414 1.415L10.12 11h7.537v2H10.12z'/%3E%3Cpath fill-rule='evenodd' d='M23 19a4 4 0 0 1-4 4H5a4 4 0 0 1-4-4V5a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4zm-4 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.gg--arrow-right-r {
    display: inline-block;
    width: 4.5em;
    height: 4.5em;
    margin-right: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23fff'%3E%3Cpath d='m12.052 14.829l1.414 1.414L17.71 12l-4.243-4.243l-1.414 1.415L13.88 11H6.343v2h7.537z'/%3E%3Cpath fill-rule='evenodd' d='M1 19a4 4 0 0 0 4 4h14a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4zm4 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-park-solid--enter-key {
    display: inline-block;
    width: 4.5em;
    height: 4.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSEnterKey0'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%23fff' stroke='%23fff' d='M44 44V4H24v16H4v24z'/%3E%3Cpath stroke='%23000' d='m21 28l-4 4l4 4'/%3E%3Cpath stroke='%23000' d='M34 23v9H17'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%23fff' d='M0 0h48v48H0z' mask='url(%23ipSEnterKey0)'/%3E%3C/svg%3E");
}

.logos--youtube-icon {
    display: inline-block;
    width: 2.43em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 180'%3E%3Cpath fill='%23f00' d='M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134'/%3E%3Cpath fill='%23fff' d='m102.421 128.06l66.328-38.418l-66.328-38.418z'/%3E%3C/svg%3E");
}

.iconamoon--comment {
    margin-bottom: -0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 21a9 9 0 1 0-9-9c0 1.488.36 2.891 1 4.127L3 21l4.873-1c1.236.64 2.64 1 4.127 1'/%3E%3C/svg%3E");
}

.iconamoon--like {
    cursor: pointer;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23fff' d='m15 10l-.986-.164A1 1 0 0 0 15 11zM4 10V9a1 1 0 0 0-1 1zm16.522 2.392l.98.196zM6 21h11.36v-2H6zM18.56 9H15v2h3.56zm-2.573 1.164l.805-4.835L14.82 5l-.806 4.836zM14.82 3h-.214v2h.214zm-3.543 1.781L8.763 8.555l1.664 1.11l2.516-3.774zM7.93 9H4v2h3.93zM3 10v8h2v-8zm17.302 8.588l1.2-6l-1.96-.392l-1.2 6zM8.762 8.555A1 1 0 0 1 7.93 9v2a3 3 0 0 0 2.496-1.336zm8.03-3.226A2 2 0 0 0 14.82 3v2zM18.56 11a1 1 0 0 1 .981 1.196l1.961.392A3 3 0 0 0 18.561 9zm-1.2 10a3 3 0 0 0 2.942-2.412l-1.96-.392a1 1 0 0 1-.982.804zM14.606 3a4 4 0 0 0-3.328 1.781l1.664 1.11A2 2 0 0 1 14.606 5zM6 19a1 1 0 0 1-1-1H3a3 3 0 0 0 3 3z'/%3E%3Cpath stroke='%23fff' stroke-width='2' d='M8 10v10'/%3E%3C/g%3E%3C/svg%3E");
}

.iconamoon--like:hover {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%2373ff00' d='m15 10l-.986-.164A1 1 0 0 0 15 11zM4 10V9a1 1 0 0 0-1 1zm16.522 2.392l.98.196zM6 21h11.36v-2H6zM18.56 9H15v2h3.56zm-2.573 1.164l.805-4.835L14.82 5l-.806 4.836zM14.82 3h-.214v2h.214zm-3.543 1.781L8.763 8.555l1.664 1.11l2.516-3.774zM7.93 9H4v2h3.93zM3 10v8h2v-8zm17.302 8.588l1.2-6l-1.96-.392l-1.2 6zM8.762 8.555A1 1 0 0 1 7.93 9v2a3 3 0 0 0 2.496-1.336zm8.03-3.226A2 2 0 0 0 14.82 3v2zM18.56 11a1 1 0 0 1 .981 1.196l1.961.392A3 3 0 0 0 18.561 9zm-1.2 10a3 3 0 0 0 2.942-2.412l-1.96-.392a1 1 0 0 1-.982.804zM14.606 3a4 4 0 0 0-3.328 1.781l1.664 1.11A2 2 0 0 1 14.606 5zM6 19a1 1 0 0 1-1-1H3a3 3 0 0 0 3 3z'/%3E%3Cpath stroke='%2373ff00' stroke-width='2' d='M8 10v10'/%3E%3C/g%3E%3C/svg%3E");
}

.iconamoon--dislike {
    cursor: pointer;
    margin-bottom: -0.1em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23fff' d='m15 14l-.986.164A1 1 0 0 1 15 13zM4 14v1a1 1 0 0 1-1-1zm16.522-2.392l.98-.196zM6 3h11.36v2H6zm12.56 12H15v-2h3.56zm-2.573-1.164l.805 4.835L14.82 19l-.806-4.836zM14.82 21h-.214v-2h.214zm-3.543-1.781l-2.515-3.774l1.664-1.11l2.516 3.774zM7.93 15H4v-2h3.93zM3 14V6h2v8zm17.302-8.588l1.2 6l-1.96.392l-1.2-6zM8.762 15.445A1 1 0 0 0 7.93 15v-2a3 3 0 0 1 2.496 1.336zm8.03 3.226A2 2 0 0 1 14.82 21v-2zM18.56 13a1 1 0 0 0 .981-1.196l1.961-.392A3 3 0 0 1 18.561 15zm-1.2-10a3 3 0 0 1 2.942 2.412l-1.96.392A1 1 0 0 0 17.36 5zm-2.754 18a4 4 0 0 1-3.328-1.781l1.664-1.11a2 2 0 0 0 1.664.891zM6 5a1 1 0 0 0-1 1H3a3 3 0 0 1 3-3z'/%3E%3Cpath stroke='%23fff' stroke-width='2' d='M8 14V4'/%3E%3C/g%3E%3C/svg%3E");
}

.iconamoon--dislike:hover {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23ff0000' d='m15 14l-.986.164A1 1 0 0 1 15 13zM4 14v1a1 1 0 0 1-1-1zm16.522-2.392l.98-.196zM6 3h11.36v2H6zm12.56 12H15v-2h3.56zm-2.573-1.164l.805 4.835L14.82 19l-.806-4.836zM14.82 21h-.214v-2h.214zm-3.543-1.781l-2.515-3.774l1.664-1.11l2.516 3.774zM7.93 15H4v-2h3.93zM3 14V6h2v8zm17.302-8.588l1.2 6l-1.96.392l-1.2-6zM8.762 15.445A1 1 0 0 0 7.93 15v-2a3 3 0 0 1 2.496 1.336zm8.03 3.226A2 2 0 0 1 14.82 21v-2zM18.56 13a1 1 0 0 0 .981-1.196l1.961-.392A3 3 0 0 1 18.561 15zm-1.2-10a3 3 0 0 1 2.942 2.412l-1.96.392A1 1 0 0 0 17.36 5zm-2.754 18a4 4 0 0 1-3.328-1.781l1.664-1.11a2 2 0 0 0 1.664.891zM6 5a1 1 0 0 0-1 1H3a3 3 0 0 1 3-3z'/%3E%3Cpath stroke='%23ff0000' stroke-width='2' d='M8 14V4'/%3E%3C/g%3E%3C/svg%3E");
}

.entypo--game-controller {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' fill-rule='evenodd' d='M19.444 9.361c-.882-4.926-2.854-6.379-3.903-6.379c-1.637 0-2.057 1.217-5.541 1.258c-3.484-.041-3.904-1.258-5.541-1.258c-1.049 0-3.022 1.453-3.904 6.379c-.503 2.812-1.049 7.01.252 7.514c1.619.627 2.168-.941 3.946-2.266C6.558 13.266 7.424 12.95 10 12.95s3.442.316 5.247 1.659c1.778 1.324 2.327 2.893 3.946 2.266c1.301-.504.755-4.701.251-7.514M6 10a2 2 0 1 1 0-4a2 2 0 0 1 0 4m7 0a1 1 0 1 1 0-2a1 1 0 1 1 0 2m2-2a1 1 0 1 1 0-2a1 1 0 1 1 0 2' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.weui--arrow-filled {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    rotate: 180deg;
}

.weui--arrow-filled2 {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}



@media only screen and (max-width: 420px){

    .mdi--star-outline {
        width: 1.15em;
        height: 1.15em;
    }
    
    .mdi--star {
        width: 1.15em;
        height: 1.15em;
    }
    
    .weui--arrow-filled {
        width: 0.75em;
        height: 0.75em;
    }
    
    .weui--arrow-filled2 {
        width: 0.75em;
        height: 0.75em;
       
    }
}
