
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-violet);
    width: 100%;
    height: 83px;
    color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
    width:  237px;
    justify-content: center;
}

.hamburger-icon {
    background-image: url('../assets/img/hamburger-icon.png');
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    margin-left: 10px;
    font-size: 18px;
    font-weight:500;
}

.img-logo {
    background-image: url("../assets/img/30\ games\ logo.png");
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 100px;
    -webkit-box-shadow: 8px -1px 14px -4px rgba(0,0,0,1);
    -moz-box-shadow: 8px -1px 14px -4px rgba(0,0,0,1);
    box-shadow: 8px -1px 14px -4px rgba(0,0,0,1);
}


.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    width:471px;
    height: 46px;
    background-color: var(--secondary-violet);
    border-radius: 50px;
}

.search input {
    font-family: "Poetsen One", sans-serif;
    margin-right: 140px;
}

.lens {
    background-image: url("../assets/img/lupa.png");
    background-size: cover;
    background-position: center center;
    width: 35px;
    height: 35px;
}

.cancel {
    background-image: url("../assets/img/cancelar.png");
    background-size: cover;
    background-position: center center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-section {
    display: flex;
    align-items: center;
    width: 232px;
    justify-content: center;
    font-size: 18px;
}


.profile-logo {
    background-image: url('../assets/img/usuario.png');
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.cart {
    background-image: url('../assets/img/carrito-de-compras.png');
    background-size: cover;
    background-position: center center;
    width: 27px;
    height: 27px;
}

.menu {
    background-color: var(--primary-violet);
    width: 209px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    padding: 1.15%;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* Mueve el menú fuera de la pantalla */
    transition: transform 0.3s ease; /* La transición será de 0.3 segundos */
    z-index: 999;
}

.menu.active {
    transform: translateX(0); /* Despliega el menú */
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu-item p {
    cursor: pointer;
    margin-left: 2px;
}

.menu-item:hover {
    color: var(--fourth-violet);
    transition: 0.2s;
}

.user-menu {
    height: 350px;
    width: 220px;
    background-color: var(--primary-violet);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5px;
    margin-right: 5px;
    overflow: hidden; /* Asegura que el contenido no se desborde durante la animación */
    max-height: 0; /* Menú oculto inicialmente */
    transition: max-height 0.3s ease; /* Transición suave para la altura */
}

.user-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu-item {
    margin-left: 10px;
}

.user-menu-item:hover {
    transition: 0.2s;
    color: var(--fourth-violet);
}

.user-menu.active {
    padding: 1%;
    max-height: 350px;
}

.user-profile-img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--fourth-violet);
    margin-right: 10px;
    /*  background-img: url(imagen de messi cabezon);
        background-size: cover;
        background-position: center center;
    */
}

.user-menu-item {
    display: flex;
    align-items: center;
}

.user-menu-item p {
    margin-left: 5px;
    cursor: pointer;
}

.line-white {
    background-color: #fff;
    height: 1px;
    width: 193px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 900px) {
    .search {
        width:271px;
        height: 46px;
    }

    .search input {
        width: 100px;
        margin-right: 0px;
    }

    .lens {
        height: 25px;
        width: 25px;
    }

    .cancel {
        height: 16px;
        width: 16px;
    }

    .user-section {
        width: 120px;
    }

    .user-section p{
        display: none;
    }

    .menu-item {
        padding-left: 5px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        z-index: 999;
    }
    .search {
        display: none;
    }

    .menu {
        flex-direction: column;
        font-size: 13px;
        transform: translateY(-100%);
        height: 340px;
        width: 140px;
        z-index: 10;
    }

    .user-menu {
        font-size: 12px;
    }

    .user-menu-item {
        margin-left: 40px;
    }

    .line-white {
        width:  120px;
    }

    .user-profile-img {
        height: 30px;
        width: 30px;
    }
}