.hero {
    position: relative;
    height: 959px;
    width: 1080px;
    overflow: hidden;
}

.layer {
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease, transform 0.3s ease-out;
    opacity: 0; /* Inicia invisible para el efecto de entrada */
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/hero/hero-img.png');
    z-index: 1;
    opacity: 1;
}


.character1 {
    width: 240px;
    height: 314px;
    background-image: url('../assets/img/hero/pj1.png');
    bottom: 10%;
    left: 35%;
    z-index: 30;
}

.character2 {
    width: 197px;
    height: 270px;
    background-image: url('../assets/img/hero/pj2.png');
    bottom: 25%;
    left: 45%;
    z-index: 20;
}

.character3 {
    width: 174px;
    height: 384px;
    background-image: url('../assets/img/hero/pj3.png');
    bottom: 20%;
    left: 60%;
    z-index: 10;
}

.tree-left {
    width: 560px;
    height: 867px;
    background-image: url('../assets/img/hero/arbol1.png');
    bottom: 10%;
    left: -150px;
    z-index: 8;
    scale: 0.8;
}

.tree-right {
    width: 434px;
    height: 672px;
    background-image: url('../assets/img/hero/arbol2.png');
    bottom: 0;
    right: -35px;
    top: 15%;
    z-index: 7;
    scale: 0.9;
}

.tree-right-2 {
    width: 278px;
    height: 430px;
    background-image: url("../assets/img/hero/arbol3.png");
    bottom: 0;
    right: -85px;
    top: 34%;
    z-index: 6;
    scale: 0.8;
}

.rock-1 {
    width: 113px;
    height: 74px;
    background-image: url("../assets/img/hero/piedra1.png");
    bottom: 0;
    right: 90px;
    top: 75%;
    z-index: 8;
}

.rock-2 {
    width: 145px;
    height: 78px;
    background-image: url("../assets/img/hero/piedra2.png");
    bottom: 20%;
    left: 120px;
    z-index: 9;
}

.rock-3 {
    width: 66px;
    height: 56px;
    background-image: url("../assets//img/hero/piedra3.png");
    bottom: 0;
    right: 180px;
    top: 75%;
    z-index: 7;
}

.rock-4 {
    width: 59px;
    height: 35px;
    background-image: url("../assets/img/hero/piedra4.png");
    bottom: 0;
    right: 185px;
    top: 79%;
    z-index: 10;
}

.bush-1 {
    width: 191px;
    height: 63px;
    background-image: url("../assets/img/hero/arbusto1.png");
    bottom: 0;
    right: 60px;
    top: 62%;
    z-index: 2;
}

.bush-2 {
    width: 244px;
    height: 107px;
    background-image: url("../assets/img/hero/arbusto2.png");
    bottom: 0;
    right: -40px;
    top: 64%;
    z-index: 6;
    scale: 0.8;
}

.bush-3 {
    width: 155px;
    height: 102px;
    background-image: url("../assets/img/hero/arbusto3.png");
    bottom: 15%;
    left: 180px;
    z-index: 9;
}

.bush-4 {
    width: 400px;
    height: 180px;
    background-image: url("../assets/img/hero/arbusto4.png");
    background-size: cover;
    background-position: center;
    bottom: 20%;
    left: 85px;
    z-index: 7;
    scale: 0.6;
}



.hero .layer.visible {
    opacity: 1;
    transform: translateY(0);
}