.show-video{
  background-color: #ffc933;
  height: 1443.83px;
}

.video-section {
  display: flex;
  flex-direction:  column;
  align-items: center;
  width: 1080px;
}
.video-section h2{
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
  margin-left: 84px ;
}

.video-content {
  flex: 1;
  z-index: 2; /* Asegura que esté por encima del fondo */
  display: flex;
  justify-content: center;
  color: #fff;
}


.video-wrapper {
  position: relative;
  width: 650px; /* Ajustado al tamaño del diseño */
  height: 370px; /* Relación aproximada 16:9 */
  margin-top: 10px;
  margin-left: 100px;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 29px solid #fff;
  border-radius: 45px; /* Borde redondeado */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin-left: 100px ;
}

.character-content {
  flex: 1;
  z-index: 1;
  display: flex;
  align-items: center;
  transform: translateY(10px); /* Posicionamiento similar al diseño */
  position: relative;
  top: -200px;
  margin-left: -10px;
}

.character-content img {
  width: 600px; 
  height: 910px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.svg-inferior{
  transform: scaleY(-1);
  position: relative;
  top: -100px;
}