.show-video {
  background-color: #ffc933;
  height: 1400px;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1080px;
}

.video-section h2 {
  margin-top: 50px;
  padding-right: 90px;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  width: 802px;
}

.video-content {
  flex: 1;
  z-index: 2; 
  display: flex;
  justify-content: center;
  color: #fff;
}


.video-wrapper {
  position: relative;
  width: 650px; 
  height: 370px; 
  margin-top: 10px;
  margin-left: 100px;
  transition: transform 0.3s ease-out;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 29px solid #fff;
  border-radius: 45px; 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin-left: 100px ;
}

.character-content {
  flex: 1;
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
  top: -200px;
  margin-left: -10px;
  transition: transform 0.3s ease-out;
}

.character-content img {
  width: 600px; 
  height: 910px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.svg-inferior{
  transform: scaleY(-1);
  position: relative;
  top: -250px;
}