<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/var.css">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/carrusel.css">
        <title>30 Games</title>
    </head>
    <body>
        <header>
            <div class="header-left">
                <figure class="hamburger-icon"></figure>

                <div class="logo">
                    <figure class="img-logo"></figure>
                    <p>30 Games</p>
                </div>
            </div>

            <div class="search">
                <figure class="lens"></figure>
                <input id="search" type="text" placeholder="search..">
                <figure id="cancel" class="cancel"></figure>
            </div>

            <div class="user-section">
                <p>Hola, Juan</p>
                <figure class="profile-logo"></figure>
                <figure class="cart"></figure>
            </div>
        </header>

        <main class="main-content">
            <div class="disabled menu">
                <div class="menu-item">
                    <p>Inicio</p>
                </div>
    
                <div class="menu-item">
                    <p>Favoritos</p>
                </div>
    
                <div class="menu-item">
                    <p>Dos jugadores</p>
                </div>
    
                <div class="menu-item">
                    <p>Accion</p>
                </div>
    
                <div class="menu-item">
                    <p>Aventura</p>
                </div>
    
                <div class="menu-item">
                    <p>Deportes</p>
                </div>
                
                <div class="menu-item">
                    <p>Estrategia</p>
                </div>
            </div>

            <div class="carrusel">

            </div>

            <div class="user-menu">

                <div class="user-menu-header">
                    <figure class="user-profile-img"></figure>
                    <p>Juan Perez</p>
                </div>

                <div class="line-white"></div>

                <div class="user-menu-item">
                    <figure></figure>
                    <p>Mi Perfil</p>
                </div>

                <div class="user-menu-item" >
                    <figure></figure>
                    <p>Mis Favoritos</p>
                </div>

                <div class="user-menu-item">
                    <figure></figure>
                    <p>Mi Carrito</p>
                </div>

                <div class="user-menu-item">
                    <figure></figure>
                    <p>Mis Juegos</p>
                </div>

                <div class="user-menu-item">
                    <figure></figure>
                    <p>Configuración</p>
                </div>

                <div class="line-white"></div>

                <div class="user-menu-item">
                    <figure></figure>
                    <p>Cerrar Sesión</p>
                </div>
            </div>
        </main>
        
        <script src="../js/nav.js"></script>
    </body>
</html>