<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/var.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/register.css">
    <title>30 Games</title>
</head>
<body>
    <form action="">

        <div class="logo-form">
            <figure>
            </figure>
            <p>30 Games</p>
        </div>

        <h1>Registrate</h1>

        <div class="line"></div>

        <div class="input-form">
            <div class="input-form-container">
                <label>
                    Nombre y Apellido * 
                    <span class="text-msg disabled"> Nombre invalido! </span>
                </label>
                <input type="text" class="input-validate">
            </div>
        </div>

        <div class="input-form">
            <div class="input-form-container">
                <label>Nickname</label>
                <input type="text" placeholder="Opcional">
            </div>
        </div>

        <div class="input-form">
            <div class="input-form-container">
                <label>
                    Edad * 
                    <span class="age-msg disabled"> Mayor a 7 años! </span>
                </label>
                <input type="number" class="input-validate">
            </div>
        </div>

        <div class="input-form">
            <div class="input-form-container">
                <label>
                    Mail *  
                    <span class="email-msg disabled"> Mail invalido! </span>
                </label>
                <input type="email" class="input-validate">
            </div>
        </div>

        <div class="input-form">
            <div class="input-form-container">
                <label>Contraseña *</label>
                <input type="password" class="input-validate">
            </div>
        </div>

        <div class="input-form">
            <div class="input-form-container">
                <label>Repetir Contraseña *</label>
                <input type="password" class="input-validate">
            </div>
        </div>

        <div class="captcha">
            <input type="checkbox">
            <p>No soy un robot</p>
            <figure></figure>
        </div>

        <div class="sing-in">
            <button>Registrate</button>
        </div>

    </form>
    <script src="../js/register.js"></script>
</body>
</html>